/* Clasificacion.css */
.container {
  background-color: #C20E1A;
  padding: 60px;
  border-radius: 12px;
  color: #ffffff;
  max-width: 1170px;
  margin: 20px auto;
}

.title {
  font-size: 1.6rem;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.button {
  background-color: #ffffff;
  color: #c41e3a;
  border: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-left: 10px;
}

.button:hover {
  background-color: #e57373;
}
