/* Contenedor de la línea separadora */
.linea-separadora-contenedor-Practicas {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -30px;
  position: relative;
  transform: translateY(127px) translateX(370px);
}

/* Logo de la sección */
.logo-imagen {
  width: 50px;
  height: auto;
  position: relative;
  z-index: 2;
  margin-right: 0;
}

/* Línea roja debajo del logo */
.linea-roja-Practicas {
  flex-grow: 1;
  height: 2px;
  background-color: red;
  margin-left: 10px;
  position: absolute;
  left: 25px;
  width: 30%;
  z-index: 1;
}

.lista-practicas {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas fijas */
  gap: 30px; /* Espaciado entre las tarjetas */
  justify-items: center; /* Centrar horizontalmente */
}

.practica-item {
  background-color: var(--color-secundario);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  width: 100%; /* Ocupa el ancho del contenedor de la columna */
  max-width: 400px; /* Tamaño máximo uniforme */
  min-height: 250px; /* Mantén la altura mínima consistente */
}

.practica-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* Ajuste especial para la última tarjeta centrada */
.lista-practicas .practica-item:last-child:nth-child(3n + 1) {
  grid-column: span 3; /* Hace que ocupe toda la fila */
  justify-self: center; /* Centrada horizontalmente */
  width: 100%; /* Igual ancho que las demás tarjetas */
  max-width:370px; /* Mantiene el tamaño uniforme */
  min-height: 250px; /* Mantiene la altura consistente */
}

/* Responsividad */
@media (max-width: 768px) {
  .lista-practicas {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .lista-practicas {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}

/* Define la clase para las palabras en rojo */
.highlight {
  color: red;
  font-weight: bold;
}
